# Segmenting and Clustering Neighborhoods in Toronto

Hello and welcome to this example. In this notebook I'll learn the process of scraping Web-sources and building real-data model. It will be well commented and must be a very useful for further researches as a template.

Let's have a look at the object of the research as an inspiration.

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Toronto_skyline_16.jpg/1100px-Toronto_skyline_16.jpg" />

# Here is a territory of city from above

<img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Toronto_by_Sentinel-2.jpg" />

# Import section

In [1]:
# install lib for geodata
#!conda install -c conda-forge geocoder --yes
#print('Install process is complete!')

In [2]:
# All required libraries for this notebook
import pandas as pd
#import geocoder

### Upload data from previous lab as dataframe

In [3]:
with open('canada_postal_codes.csv','r') as file:
    canada_df = pd.DataFrame(pd.read_csv(file, index_col=0))

canada_df

,Postal code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing Centre
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [6]:
with open('Geospatial_Coordinates.csv','r') as file:
    geo_df = pd.DataFrame(pd.read_csv(file, index_col=0)).reset_index()

geo_df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [14]:
# As there are different column names in canada_df and geo_df - we should make them the same
geo_df.rename(columns={geo_df.columns[0]: canada_df.columns[0]}, inplace=True)
geo_df

    Postal code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [15]:
# Merging canada_df with geo_df
geo_canada_df = canada_df.merge(geo_df)
geo_canada_df

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,Business reply mail Processing Centre,43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999

In [ ]:
### Generate

In [30]:
# write results to file
geo_canada_df.to_csv('geo_canada.csv')